<div class="columns" ng-show="inProgress">

    <!-- C'est moche mais comme l'offset ne fonctionne pas bah je fais avec -->
    <div class="column is-3"></div>

    <div style="margin: 5rem auto;" class="column is-7 has-text-centered" ng-show="!quizOver">
        <h2 class="subtitle is-3">{{question}}</h2>
        <ul style="margin: 5% 0;">
            <li style="margin: 1rem auto;" ng-repeat="option in options">
                <label>
                    <button  style="white-space: pre-wrap; height: 100%;" data-ng-class="{'button is-link is-medium is-fullwidth': answered != option,'button is-warning is-medium is-fullwidth':answered == option}" ng-click="setValue(option)" name="answer" value="{{option}}">
                        <p>{{option}}</p>
                    </button>
                </label>
            </li>
        </ul>

        <button class="button is-success is-large" ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

        <div ng-show="!answerMode">
            <button ng-click="nextQuestion()" class="button is-large">Next</button>
            <p class="title is-2" ng-show="correctAns">That is correct!</p>
            <p class="title is-2" ng-show="!correctAns">Sorry, that is an incorrect answer.</p>
        </div>
    </div>

    <div style="margin: 1rem auto;" class="column has-text-right is-2">
        <h1 class="title is-1">{{score}}</h1>
    </div>
</div>

<div class="column has-text-centered" ng-show="!inProgress">
    <p class="subtitle is-3">Welcome to the QuizApp</p>
    <button class="button is-large" id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>